<header>
    <mat-toolbar color="primary">
        <button mat-icon-button routerLink="/">
            <mat-icon>home</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button routerLink="/users">
            <mat-icon>supervised_user_circle</mat-icon>
        </button>
        <button mat-icon-button routerLink="/products">
            <mat-icon>list</mat-icon>
        </button>
        <button mat-icon-button routerLink="/share">
            <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button routerLink="/tracks">
            <mat-icon>audiotrack</mat-icon>
        </button>

        <span>Statistics: {{errors}} errors</span>

        <button class="login-btn" mat-icon-button routerLink="/account/login">
            <mat-icon>login</mat-icon>
        </button>
        <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
</header>