<button mat-icon-button routerLink="..">
    <mat-icon>arrow_back</mat-icon>
</button>

<section>
    <h2>Create New User</h2>
    <form [formGroup]="userForm" (ngSubmit)="createUser()" class="create-user-block">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Birthdate</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button mat-fab color="primary" type="submit">
            <mat-icon>add</mat-icon>
        </button>
    </form>
</section>