<form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
    <h2>Login Form</h2>
    <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Log In</button>
</form>