<h2>Create New User</h2>
<div class="create-user-block">
    <label>Email:
        <input type="email" [(ngModel)]="currentUser.email">
    </label>
    <label>Username:
        <input type="text" [(ngModel)]="currentUser.username">
    </label>
    <label>Birthdate:
        <input type="date" [(ngModel)]="currentUser.birthdate">
    </label>
    <button (click)="createUser()">Create</button>
</div>

<h2>User List</h2>

<div *ngIf="users.length == 0" class="text-center">
    <img width="300" src="https://cdn.dribbble.com/users/1753953/screenshots/3818675/animasi-emptystate.gif"
        alt="No items">
</div>

<ul class="user-list">
    <li *ngFor="let user of users" (click)="removeLastItem(user)">
        {{user.username}} | {{user.email}}
    </li>
</ul>

<p class="text-center">User count: {{users.length}}</p>