<section>
    <h2>Create New User</h2>
    <div class="create-user-block">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="currentUser.email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="currentUser.username">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Birthdate</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="currentUser.birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button mat-fab color="primary" (click)="createUser()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</section>

<section>
    <h2>User List</h2>
    <app-user-list [users]="users"></app-user-list>
    <p class="text-center">User count: {{users.length}}</p>
</section>

<section>
    <h2>Users from IT Step</h2>
    <app-user-list [users]="usersFromITStep"></app-user-list>
    <p class="text-center">User count: {{users.length}}</p>
</section>