<div *ngIf="users.length == 0" class="text-center">
    <img width="100" src="https://cdn.dribbble.com/users/1753953/screenshots/3818675/animasi-emptystate.gif"
        alt="No items">
</div>

<!-- Structural directives - effect DOM (ngIf, ngFor, ngSwitch) -->
<!-- Attribute directives - effect element attributes (ngClass, ngStyle) -->
<!-- Event binding: (event_name)="handler(parameters)" -->

<ul class="user-list">
    <li *ngFor="let user of users" (click)="removeItem(user)" [class.admin-user]="isAdmin(user)">
        {{user.username}} | {{user.email}} | {{user.role | enumToString}}
    </li>
</ul>
<!-- [ngClass]="{'item-highlight': isITStepDomain(user.email)}" -->