/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#main-container {
    /* 100% of viewport height */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 20px;
    flex-grow: 1;
}

h1,
h2,
h3 {
    text-align: center;
}

.text-center {
    text-align: center;
}